/* Geral */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
ul{
    list-style: none;
}


a{
    text-decoration: none;
}

header nav{
    background-color: #333;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    font-size: .7rem;
    padding: 0 1rem;
} 

#navbar a{
    color: #f5f5f7;
    transition: 0.4s;
}

#navbar a:hover{
    color: #fff;
}

/* Bottom-header - Cabeçalho baixo */

.bottom-header{
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    font-size: .8rem;
}

.bottom-header a{
    color: #333;
    margin: 0 .5rem;
}

.bottom-header-inner h3{
    font-size: 1.2rem;
}

.bottom-header-inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}

#bottom-header-links .btn, 
.btn{
    color: #fff;
    background-color: rgb(29, 44, 206);
    padding: .4rem 1rem;
    border-radius: 10rem;
    transition: .4s
}

#bottom-header-links .btn:hover, 
.btn:hover{
    color: #fff;
    background-color: rgb(9, 25, 193);
}

/* FAIXA ABAIXO DO HEADER */

#ribbon{
    text-align: center;
    padding: 1rem;
    background-color: #f5f5f7 ;
    color: #1d1d1d;
    font-size: 0.8rem;
}

#ribbon a{
    color: #0071e3;
}

/* CONTEUDO PRINCIPAL */

.main-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #1d1d1d;
}

.main-content #title{
    margin: 1rem;
    font-size: 1.2rem;
}

.main-content #subtitle{
    margin: 1rem;
    font-weight: bold;
    font-size: 4rem;
}

.main-content #description{
    text-align: center;
    max-width: 600px;
    margin: 1rem auto;
    font-size:1.1rem;
    line-height: 1.5rem;
}

.main-content #price{
    font-size: 1.3rem;
    color: #86868b;
    margin: 2rem;
}

.main-content .btn{
    padding: .8rem 1.4rem;
    align-self: center;
    font-size: 1.1rem;
}

.main-content #product-image{
    max-width: 1000px;
    margin: 3rem auto;
    opacity: 1;
    transition: .5s;
}

.main-content #product-image.changing{

    opacity: .5;

}

#image-picker{
   margin-bottom: 50px; 
}

#image-picker ul{
    display: flex;
    justify-content: center;
}

#image-picker ul li{
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    display: flex;
}

#image-picker ul li .color{
    height: 2rem;
    display: block;
    width: 2rem;
    border-radius: 50%; 
    box-shadow: 1px 1px 1px;
    border: 4px solid #fff;
    pointer-events: none;
}

#image-picker .description{
    font-size: .7rem;
    color: #1d1d1d;
    margin-top: .6rem;
}

#green .color{
    background-color: #394c38;
}

#silver .color{
    background-color: #f1f3ed;
}

#golden .color{
    background-color: #fae7cf;
}

#grafite .color{
    background-color: #54524f;
}

#blue .color{
    background-color: #a7c1d9;
}

.selected{
    outline: 2px solid #43a1ff;
}

@media (max-width:425px) {
    #navbar li{
        display: none;
    }

    #navbar #logo {
        display: flex;
    }

    #bottom-header-links a {
        display:none;
    }

    #bottom-header-links .btn{
        display: flex;
    }

    .main-content{
        padding: 1rem;
        overflow: hidden;
    }

    .main-content #subtitle{
        font-size: 3rem;
    }


}

@media (max-width: 768px){
    .main-content{
        overflow: hidden;
    }
}





